<% if !request.xhr? %>
	<%= render :partial => 'export', :locals => {:record => @record,:start_date => @start_date, :end_date => @end_date} %>
<% end %>
<br /><br />
<h3>Records</h3>
<table id="search_results">
	<thead>
		<tr><th>Record ID</th><th>Device ID</th><th>Time Taken</th><th>Glasses</th><th>Magnifier</th>
			<th>Large Print</th><th>Help With Medication</th><th>Prescription</th>
			<th>Non-Prescription</th><th>Worn</th></th><th>Glossy</th><th>Font</th><th>Corticosteriods</th><th>Anticholinergics</th>
			<th>Eyedrops</th><th>Diabetes</th><th>Hypertension</th><th>Glaucoma</th><th>Cataracts</th><th>Macular Degenration</th>
			<th>Cognitive Impairment</th><th>Other1</th><th>Other2</th><th>Other3</th><th>Other4</th><th>Other5</th><th>Date</th>
		</tr>
	</thead>
	<tbody>
<% @num = 1 %>
  <%= render @records %> 
	</tbody>
</table>
<%= link_to "All records", "/GenerateReport"%><br />
<%= link_to "Back", "/home"%>
