<h3>Welcome to the ClereMed server site.</h3>
<h4>Options:</h4>
<ul> 
	<li><%= link_to "User list", users_path %></li>
	<li><%= link_to "Add a user", new_user_path %></li>
	<li><%= link_to "Delete a user", users_path %></li>
	<li><%= link_to "Generate a report", "GenerateReport" %></li>
</ul>
