html, body {
  background-color: #BCF5A9;
  height:100%;
}
p.top{
  text-align: center;
  font: 0.9em Georgia;
}
h1{
  text-align: center;
  color:#8A0808;
  font:5em Georgia;
}
p{
  font: 1em Georgia;
}
p.notice{
  color:red;
}
h2{  
  font:3em Georgia;
  text-align:center;
}
h3{
  color:black;
}
h4{
  color:black;
}
div.Sign_Form{
  padding:20px;
  width:200px;
  border:1px solid black;
  margin:0 auto;
}
div.body{
  padding:20px;
  width:75%;
  border:1px solid black;
  margin:0 auto;
  background-color:white;
}
div.otherBody{
  padding:20px;
  position:relative;
  float:left;
  border:1px solid black;
  margin:0 auto;
  background-color:white;
}
div.Sign_Form{
	background-color:#FBEFFB;
}
table.top{
  border:none;
  width:100%;
}
tr.top{
  border:none;
}
th.top{
  padding:4px;
  background-color: #BCF5A9;
  width:25%;
  border:none;
}
table, th, td{
  border:1px solid black;
}
table{
  width:100%;
}
th{
  padding:4px;
  background-color:#F4FA58;
}
td.orig{
  padding:4px;
  background-color:white;
}
td.alt{
  padding:4px;
  background-color:#F7F8E0;
}
table.profile{
  width:100%;
}
