<% @page_title = "Forgotten Password"%>
<h2>Forgotten Password?</h2>
<div class="Sign_Form">
	<%= form_tag("/pass_help",{:controller => "users", :action => "pass_help"}) do %>
		<p>Username or email: <br /><%=text_field_tag(:login_or_email)%></p>
		<%= submit_tag("Submit")%>
	<% end %>
</div>
<%= link_to "Back", "/login"%>