<% @page_title = "Forgotten Password"%>
<h2>Forgotten Password</h2>
<div class="Sign_Form">
	<%= form_tag("/send_password",{:controller => "users", :action => "send_password"}) do %>
		<p>Email: <br /><%=text_field_tag(:email)%></p>
		<%= submit_tag("Email Password")%>
	<% end %>
</div>
<%= link_to "Back", "/login"%>